@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
  font-family: 'font-awesome-light';
  src: url('../fonts/fontawesome-light-300.woff');
}

@font-face {
  font-family: 'font-awesome-solid';
  src: url('../fonts/fontawesome-solid-900.woff');
}

@import 'components/browse';
@import 'components/campaign-listing';

$blue-hydrangea: #4097ff;
$light-hydrangea: #8CC0FF;
$maui-orange: #ffbe00;
$graphite: #808080;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $graphite;
  font-size: 1rem;
}

header {
  background-image: url("../img/paper.png");
  padding: 1.125rem 0;
  margin-bottom: 1.875rem;
  position: relative;

  div.row {
    margin: auto;

    nav {
      padding: 0 0 0.76% 0;

      ul {
        position: relative;
        margin:0;

        &.row.align-right {
          max-width: 100%;
          margin:0;
        }

        li {
          display: inline-block;
          padding: 0;
          text-align: center;
          margin-right: 0.6875rem;

          &.search {
            form {
              height:0;
            }
            button {
              display:none;
            }
          }

          #search {
            border: none;
            box-shadow: none;
            border-radius: 0.3rem;
            background: url('../img/search.svg') rgba(255, 255, 255, 0.5);
            background-position-x: calc(100% - 0.55rem);
            background-position-y: calc(100% - 50%);
            background-size:1.5625rem;
            background-repeat: no-repeat;
            color: #808080;

            &:hover {
              background: url('../img/search-drk.svg') rgba(255, 255, 255, 0.7);
              background-position-x: calc(100% - 0.55rem);
              background-position-y: calc(100% - 50%);
              background-size:1.5625rem;
              background-repeat: no-repeat;
            }

            &:focus, &:focus:hover {
              position: absolute;
              left:0;
              background: url('../img/search-wht.svg') #A6A6A6;
              background-position-x: calc(100% - 0.55rem);
              background-position-y: calc(100% - 50%);
              background-size:1.5625rem;
              background-repeat: no-repeat;
              color: #ffffff;
            }
          }
          a, #search {
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            padding: .5rem;
            font-weight: 300;

            &:link, &:active, &:visited {
              color: $graphite;
              border: none;
            }

            &:hover{
              color: darken($graphite, 20);
            }
          }

          &.user {
            font-family: 'font-awesome-light';
            font-size: 1.5625rem;
          }
        }
      }
    }
  }

  .logo {
    max-width:320px;
  }

  div.orange-line {
    background-image: url("../img/Orange Line.png");
    height: 17px;
    position: absolute;
    width: 100%;
    bottom: -7px;
  }
}

main {
  h1 {
    font-size: 1.75rem;
    font-family: 'Lato', sans-serif;
    color: $blue-hydrangea;
    margin-bottom:0.625rem;

    span.underlined {
      background-image: url('../img/Blue Line.png');
      background-size: 100% 0.125rem;
      background-repeat: no-repeat;
      background-position: bottom;
      padding:0 0.125rem 0.125rem 0;
    }
  }

  h2 {
    font-size: 1.375rem;
    font-family: 'Lato', sans-serif;
    color: $maui-orange;

    span.underlined {
      background-image: url('../img/Orange Line.png');
      background-size: 100% 0.125rem;
      background-repeat: no-repeat;
      background-position: bottom;
      padding:0 0.125rem 0.125rem 0;
    }
  }

  p {
    line-height: 1.2rem;
    
    &:last-child {
      margin-bottom:0;
    }

    span.details {
      background-image: url('../img/Yellow Stripe 2.png');
      background-size: 100% 100%;
      padding: 0.375rem 0.5rem;
      display: inline-block;
    }
  }

  .link, :link, :visited {
    color: $light-hydrangea;
    border-bottom: 0.0625rem solid $light-hydrangea;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: darken($light-hydrangea, 10);
      border-color: darken($light-hydrangea, 10);
    }
  }

  .details {
    font-weight: 900;
  }

  section {
    margin-bottom: 2rem;
  }
}

footer {
  background-image: url('../img/Grey Stripe.png');
  background-position: calc(100% - 50%);
  background-size: cover;
  color: #fff;
  margin-top: 3rem;
  padding-top: 1.25rem;
  height: auto;
  background-repeat: none;

  a {
    &:link, &:visited, &:link:hover, &:visited:hover {
      font-size: 1.25rem;
      color: #ffffff;
      border-bottom: none;
      text-shadow:
   -0.25px -0.25px 0 #fff,  
    0.25px -0.25px 0 #fff,
    -0.25px 0.25px 0 #fff,
     0.25px 0.25px 0 #fff;
    }

    &:link:hover, &visited:hover {
      border-bottom: 0.06rem solid #ffffff;
    }
  }
  div, p {
    text-align:center;
  }

  p {
    margin-bottom:0.5rem;
  }
}

main.campaigns {
  h1 {
    margin-bottom: 1.25rem;
  }
  hr {
    margin: 0 auto;
    height: 0.2rem;
    border-bottom: none;
    background: url('../img/Grey Line.png');
    background-size: 100% 100%;
  }

  > section:first-child{
    margin-bottom:1.25rem;
  }
}