main.browse {
  h1 {
    margin-bottom: 1.25rem;

    span.dropdown {
      font-family: 'font-awesome-light';
      font-size: 1.125rem;
    }
  }
  
  hr {
    margin: 0 auto;
    height: 0.2rem;
    border-bottom: none;
    background: url('../img/Grey Line.png');
    background-size: 100% 100%;
  }
}