$light-graphite: #999999;
$maui-orange: #ffbe00;
$graphite: #808080;

label {
  color: $light-graphite;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;  
  font-weight: 300;

  span {
    color: $maui-orange;
    font-weight: normal;
  }
}

input[type="text"], input[type="number"] {
  color: $graphite;
  font-family: 'Lato', sans-serif;
  font-size: 1.375rem;
  height: 2.75rem;
}