header {
  background-image: url("../img/paper.png");
  padding: 1.125rem 0;
  margin-bottom: 1.875rem;
  position: relative;

  div.row {
    margin: auto;

    nav {
      padding: 0 0 0.76% 0;

      ul {
        position: relative;
        margin:0;

        &.row.align-right {
          max-width: 100%;
          margin:0;
        }

        li {
          display: inline-block;
          padding: 0;
          text-align: center;
          margin-right: 0.6875rem;

          &.search {
            form {
              height:0;
            }
            button {
              display:none;
            }
          }

          #search {
            border: none;
            box-shadow: none;
            border-radius: 0.3rem;
            background: url('../img/search.svg') rgba(255, 255, 255, 0.5);
            background-position-x: calc(100% - 0.55rem);
            background-position-y: calc(100% - 50%);
            background-size:1.5625rem;
            background-repeat: no-repeat;
            color: #808080;

            &:hover {
              background: url('../img/search-drk.svg') rgba(255, 255, 255, 0.7);
              background-position-x: calc(100% - 0.55rem);
              background-position-y: calc(100% - 50%);
              background-size:1.5625rem;
              background-repeat: no-repeat;
            }

            &:focus, &:focus:hover {
              position: absolute;
              left:0;
              background: url('../img/search-wht.svg') #A6A6A6;
              background-position-x: calc(100% - 0.55rem);
              background-position-y: calc(100% - 50%);
              background-size:1.5625rem;
              background-repeat: no-repeat;
              color: #ffffff;
            }
          }
          a, #search {
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            padding: .5rem;
            font-weight: 300;

            &:link, &:active, &:visited {
              color: $graphite;
              border: none;
            }

            &:hover{
              color: darken($graphite, 20);
            }
          }

          &.user {
            font-family: 'font-awesome-light';
            font-size: 1.5625rem;
          }
        }
      }
    }
  }

  .logo {
    max-width:320px;
  }

  div.orange-line {
    background-image: url("../img/Orange Line.png");
    height: 17px;
    position: absolute;
    width: 100%;
    bottom: -7px;
  }
}