
<article class="campaign">
<div class="row align-justify">
      <h2 class="shrink columns"><span class="underlined">{{ campaign-title}}</span></h2>
      <p class="days shrink columns"><span class="details">{{ campaign-days }}</span></p>
      <p class="small-12 columns">{{ campaign-description }}</p>
      <div class="main-image">
            <img src="assets/img/veteran.jpg" alt="{{ campaign-image-alt }}">
      </div>
      <span class="timeline"><span class="funded" style="width: {{ campaign-funded-progress }};" ></span></span>
</div>
<div class="row align-justify">
      <p class="funded shrink columns"><span class="details">{{ campaign-funded-progress }} Funded</span></p>
      <p class="funding shrink columns"><span class="details">{{ campaign-funding }}</span></p>
</div>
</article>
 