<article class="campaign">
<div class="row align-justify">
      <h2 class="shrink columns">{{ campaign-title}}</h2>
      <p class="details days shrink columns">{{ campaign-days }}</p>
      <p class="small-12 columns">{{ campaign-description }}</p>
      <div class="small-12 columns expand main-image">
            <img src="assets/img/veteran.jpg" alt="{{ campaign-image-alt }}">
      </div>
</div>
 <p class="timeline small-12 columns"><span class="funded" style="width: {{ campaign-funded-progress }};" ></span></p>
 <div class="row align-justify">
      <p class="details funded shrink columns">{{ campaign-funded-progress }} Funded</p>
      <p class="details funding shrink columns">{{ campaign-funding }}</p>
 </div>
</article>

 