<header>
  <script>
    window.onload = function() {
      var search = document.getElementById("search");
      
      window.addEventListener('click', function() {
        if (document.activeElement == search) {
          search.setAttribute('value', '');
        } else {
          search.setAttribute('value', 'Search');
        }
      })
    }
  </script>
  <div class="row align-bottom">
    <div class="logo small-4 columns">
      <img src="assets/img/logo.png" alt="Design Bright Logo">
    </div>
    <nav class="columns">
      <ul class="row align-right">
        <li class="shrink columns"><a href="browse.html">Explore</a></li>
        <li class="small-4 large-2 columns search">
          <form action="browse.html">
            <input type="search" name="search" id="search" value="Search">
            <button type="submit"></button>
          </form>
        </li>
        <li class="user shrink"><a href=""></a></li>
      </ul>
    </nav>
  </div>
  <div class="orange-line"></div>
</header>